<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="token" value="MTAzODgwNDk3MjQwNzYyNzgxNg.G0T6Lt.ynlmVwRZ4ofrhg3iNsoob3MZPIt1NAz4Z2www0" />
		<add key ="admin_id" value="394778586055311370" />
		<add key ="guild_id" value="462159205911232528,910527156738732103" />
		<add key ="application_id" value="1038804972407627816" />
	</appSettings>
</configuration>
